<div>
    New Partial View
    <table id="index" class="table table-striped table-bordered w-100">
        <thead>
            <tr>
                <th>TeamName</th>
                <th>Location</th>
                <th>RegistrationTime</th>
            </tr>
        </thead>
    </table>
</div>