@{
    ViewData["Title"] = "Get Started";
}
<div class="row">

    <div class="col-sm-3">
        <div class="card text-justify"  style="width: 18rem;">

            <div class="card-body">
                <img src="~/img/java.png" class="card-img-top" alt="Java" />
                <h5 class="card-title">Java</h5>
                <p class="card-text">
                    It shouldn't take more than 5 minutes to start playing from your local. You can improve your algorithm by playing with
                    the test server. Later you need to deploy your algorithm into GCP. Click "Start Here" below.
                </p>
                <a href="https://github.com/ayu004/codecomp3-java-player" class="btn btn-primary stretched-link" target="_blank">Start Here</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-justify" style="width: 18rem;">
            <div class="card-body">
                <img src="~/img/python.png" class="card-img-top" alt="Python" />
                <h5 class="card-title">Python</h5>
                <p class="card-text">
                    It shouldn't take more than 5 minutes to start playing from your local. You can improve your algorithm by playing with
                    the test server. Later you need to deploy your algorithm into GCP. Click "Start Here" below.
                </p>
                <a href="https://github.com/ayu004/codecomp3-java-player" class="btn btn-primary stretched-link" target="_blank">Start Here</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-justify" style="width: 18rem;">
            <div class="card-body">
                <img src="~/img/nodejs.png" class="card-img-top" alt="NodeJS" />
                <h5 class="card-title">NodeJS</h5>
                <p class="card-text">
                    It shouldn't take more than 5 minutes to start playing from your local. You can improve your algorithm by playing with
                    the test server. Later you need to deploy your algorithm into GCP. Click "Start Here" below.
                </p>
                <a href="https://github.com/ayu004/codecomp3-java-player" class="btn btn-primary stretched-link" target="_blank">Start Here</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-justify" style="width: 18rem;">
            <div class="card-body">
                <img src="~/img/dotnet.jpg" class="card-img-top" alt=".NET" />
                <h5 class="card-title">.NET</h5>
                <p class="card-text">
                    It shouldn't take more than 5 minutes to start playing from your local. You can improve your algorithm by playing with
                    the test server. Later you need to deploy your algorithm into GCP. Click "Start Here" below.
                </p>
                <a href="https://github.com/ayu004/codecomp3-java-player" class="btn btn-primary stretched-link" target="_blank">Start Here</a>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card text-justify" style="width: 18rem;">
            <div class="card-body">
                <img src="~/img/golang.jpg" class="card-img-top" alt="GoLang" />
                <h5 class="card-title">Go</h5>
                <p class="card-text">
                    It shouldn't take more than 5 minutes to start playing from your local. You can improve your algorithm by playing with
                    the test server. Later you need to deploy your algorithm into GCP. Click "Start Here" below.
                </p>
                <a href="https://github.com/ayu004/codecomp3-java-player" class="btn btn-primary stretched-link" target="_blank">Start Here</a>
            </div>
        </div>
    </div>

 </div>
