/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* --- Rules Page Card CSS --- */
.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    padding: 10px; 
    margin-bottom:20px; 
    margin-left:20px; 
    margin-right:20px;
}

.card img {
    max-width: 50rem;
}

.loadingSpinner {
    margin: 50%;
    height: 40px;
    width: 40px;
}


#current tr, #total tr {
    height: 65px;
    font-size: 12px;
    font-weight: 500;
}

