@{
    ViewData["Title"] = "Home";
}

<div class="row">
    
    <div class="col-md-12 text-center">
        <div class="jumbotron">
            <h1 class="display-4">Codecomp <sup><span class="badge badge-success">GCP</span></sup></h1>
            <p class="lead">Let's learn GCP by participating in the intellectual challenge of the year, with Google</p>
            <hr class="my-4">
            <p>This is an algorithmic battle, easy to get-started within minutes with boilerplate code, you just need to make the algo smart.</p>
            <h3>Grand final : TBD</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-lg" style="width:120px" href="/Rules" role="button">Rules</a>
                        <a class="btn btn-success btn-lg" style="width:120px" href="/Register" role="button">Register</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

