@{
    ViewData["Title"] = "Home";
}

<style>
    #logo{
        padding-bottom: 30px;
        transform: translate(-0%,0%);
        animation: fill 0.5s ease forwards 3s;
    }

    #logo path:nth-child(1){
        stroke-dasharray: 852;
        stroke-dashoffset: 852;
        animation: line-anim 2s ease forwards;
    }
    #logo path:nth-child(2){
        stroke-dasharray: 920;
        stroke-dashoffset: 920;
        animation: line-anim 2s ease forwards 0.2s;
    }
    #logo path:nth-child(3){
        stroke-dasharray: 955;
        stroke-dashoffset: 955;
        animation: line-anim 2s ease forwards 0.4s;
    }
    #logo path:nth-child(4){
        stroke-dasharray: 830;
        stroke-dashoffset: 830;
        animation: line-anim 2s ease forwards 0.6s;
    }
    #logo path:nth-child(5){
        stroke-dasharray: 852;
        stroke-dashoffset: 852;
        animation: line-anim 2s ease forwards 0.8s;
    }
    #logo path:nth-child(6){
        stroke-dasharray: 920;
        stroke-dashoffset: 920;
        animation: line-anim 2s ease forwards 1s;
    }
    #logo path:nth-child(7){
        stroke-dasharray: 1300;
        stroke-dashoffset: 1300;
        animation: line-anim 2s ease forwards 1s;
    }
    #logo path:nth-child(8){
        stroke-dasharray: 810;
        stroke-dashoffset: 810;
        animation: line-anim 2s ease forwards 1.8s;
    }
    #gcp{
        opacity: 0;
        animation: appear 0s ease forwards 4s;
    }
    svg{
        max-width:100%;
    }

    @@keyframes line-anim{
        to{
              stroke-dashoffset:0;
          }
    }
    @@keyframes fill{
        from{
            fill:transparent;
        }
        to {
            fill: #28A745;
        }
    }
    @@keyframes appear{
        to{
            opacity:1;
        }
    }

</style>

<div class="row">
    
    <div class="col-md-12 text-center">
        <div class="col-md-12 text-right">
            <sup><span class="badge badge-success" id="gcp" style="font-size:150%">GCP</span></sup>
        </div>
        <svg id="logo" width="1000" height="196" viewBox="0 0 1265 196" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M83.6764 191H50.2684C36.0604 191 25.0204 187.064 17.1484 179.192C9.46836 171.32 5.62836 160.376 5.62836 146.36V50.456C5.62836 36.248 9.46836 25.304 17.1484 17.624C25.0204 9.752 36.0604 5.81599 50.2684 5.81599H83.6764C97.6924 5.81599 108.636 9.752 116.508 17.624C124.38 25.304 128.316 36.248 128.316 50.456V64.28C128.316 67.736 126.588 69.464 123.132 69.464H104.988C101.724 69.464 100.092 67.736 100.092 64.28V51.608C100.092 37.4 93.1804 30.296 79.3564 30.296H54.3004C40.4764 30.296 33.5644 37.4 33.5644 51.608V145.208C33.5644 159.416 40.4764 166.52 54.3004 166.52H79.3564C93.1804 166.52 100.092 159.416 100.092 145.208V132.536C100.092 129.08 101.724 127.352 104.988 127.352H123.132C126.588 127.352 128.316 129.08 128.316 132.536V146.36C128.316 160.376 124.38 171.32 116.508 179.192C108.636 187.064 97.6924 191 83.6764 191Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
            <path d="M209.832 166.52H234.888C248.904 166.52 255.912 159.416 255.912 145.208V51.608C255.912 37.4 248.904 30.296 234.888 30.296H209.832C196.008 30.296 189.096 37.4 189.096 51.608V145.208C189.096 159.416 196.008 166.52 209.832 166.52ZM239.208 191H205.8C191.592 191 180.552 187.064 172.68 179.192C165 171.32 161.16 160.376 161.16 146.36V50.456C161.16 36.248 165 25.304 172.68 17.624C180.552 9.752 191.592 5.81599 205.8 5.81599H239.208C253.416 5.81599 264.456 9.752 272.328 17.624C280.2 25.304 284.136 36.248 284.136 50.456V146.36C284.136 160.376 280.2 171.32 272.328 179.192C264.456 187.064 253.416 191 239.208 191Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
            <path d="M354.05 166.52H394.658C408.482 166.52 415.394 159.416 415.394 145.208V51.608C415.394 37.4 408.482 30.296 394.658 30.296H354.05C351.938 30.296 350.882 31.256 350.882 33.176V163.352C350.882 165.464 351.938 166.52 354.05 166.52ZM322.946 186.104V10.712C322.946 7.448 324.578 5.81599 327.842 5.81599H398.69C412.706 5.81599 423.65 9.752 431.522 17.624C439.586 25.304 443.618 36.248 443.618 50.456V146.36C443.618 160.376 439.586 171.32 431.522 179.192C423.65 187.064 412.706 191 398.69 191H327.842C324.578 191 322.946 189.368 322.946 186.104Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
            <path d="M579.752 191H487.592C484.328 191 482.696 189.368 482.696 186.104V10.712C482.696 7.448 484.328 5.81599 487.592 5.81599H579.752C582.824 5.81599 584.36 7.448 584.36 10.712V25.4C584.36 28.664 582.824 30.296 579.752 30.296H514.088C511.784 30.296 510.632 31.256 510.632 33.176V81.848C510.632 83.768 511.784 84.728 514.088 84.728H569.672C573.128 84.728 574.856 86.36 574.856 89.624V104.312C574.856 107.576 573.128 109.208 569.672 109.208H514.088C511.784 109.208 510.632 110.168 510.632 112.088V163.352C510.632 165.464 511.784 166.52 514.088 166.52H579.752C582.824 166.52 584.36 168.152 584.36 171.416V186.104C584.36 189.368 582.824 191 579.752 191Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
            <path d="M696.239 191H662.831C648.623 191 637.583 187.064 629.711 179.192C622.031 171.32 618.191 160.376 618.191 146.36V50.456C618.191 36.248 622.031 25.304 629.711 17.624C637.583 9.752 648.623 5.81599 662.831 5.81599H696.239C710.255 5.81599 721.199 9.752 729.071 17.624C736.943 25.304 740.879 36.248 740.879 50.456V64.28C740.879 67.736 739.151 69.464 735.695 69.464H717.551C714.287 69.464 712.655 67.736 712.655 64.28V51.608C712.655 37.4 705.743 30.296 691.919 30.296H666.863C653.039 30.296 646.127 37.4 646.127 51.608V145.208C646.127 159.416 653.039 166.52 666.863 166.52H691.919C705.743 166.52 712.655 159.416 712.655 145.208V132.536C712.655 129.08 714.287 127.352 717.551 127.352H735.695C739.151 127.352 740.879 129.08 740.879 132.536V146.36C740.879 160.376 736.943 171.32 729.071 179.192C721.199 187.064 710.255 191 696.239 191Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
            <path d="M822.394 166.52H847.45C861.466 166.52 868.474 159.416 868.474 145.208V51.608C868.474 37.4 861.466 30.296 847.45 30.296H822.394C808.57 30.296 801.658 37.4 801.658 51.608V145.208C801.658 159.416 808.57 166.52 822.394 166.52ZM851.77 191H818.362C804.154 191 793.114 187.064 785.242 179.192C777.562 171.32 773.722 160.376 773.722 146.36V50.456C773.722 36.248 777.562 25.304 785.242 17.624C793.114 9.752 804.154 5.81599 818.362 5.81599H851.77C865.978 5.81599 877.018 9.752 884.89 17.624C892.762 25.304 896.698 36.248 896.698 50.456V146.36C896.698 160.376 892.762 171.32 884.89 179.192C877.018 187.064 865.978 191 851.77 191Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
            <path d="M1062.23 5.81599H1094.48C1097.75 5.81599 1099.38 7.448 1099.38 10.712V186.104C1099.38 189.368 1097.75 191 1094.48 191H1076.63C1073.36 191 1071.73 189.368 1071.73 186.104V40.664H1070.58L1033.14 146.072C1031.99 149.144 1029.88 150.68 1026.8 150.68H1008.37C1005.49 150.68 1003.48 149.144 1002.32 146.072L964.02 40.376H962.868V186.104C962.868 188.024 962.484 189.368 961.716 190.136C961.14 190.712 959.892 191 957.972 191H940.404C937.14 191 935.508 189.368 935.508 186.104V10.712C935.508 7.448 937.14 5.81599 940.404 5.81599H972.66C974.772 5.81599 976.308 6.872 977.268 8.98399L1016.72 120.152H1018.16L1057.91 8.98399C1058.29 6.872 1059.73 5.81599 1062.23 5.81599Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
            <path d="M1164.42 191H1146.28C1143.02 191 1141.38 189.368 1141.38 186.104V10.712C1141.38 7.448 1143.02 5.81599 1146.28 5.81599H1214.82C1228.84 5.81599 1239.78 9.752 1247.66 17.624C1255.53 25.304 1259.46 36.248 1259.46 50.456V80.408C1259.46 94.424 1255.53 105.368 1247.66 113.24C1239.78 121.112 1228.84 125.048 1214.82 125.048H1172.78C1170.47 125.048 1169.32 126.008 1169.32 127.928V186.104C1169.32 189.368 1167.69 191 1164.42 191ZM1172.49 100.28H1210.79C1224.42 100.28 1231.24 93.176 1231.24 78.968V51.608C1231.24 37.4 1224.42 30.296 1210.79 30.296H1172.49C1170.38 30.296 1169.32 31.256 1169.32 33.176V97.4C1169.32 99.32 1170.38 100.28 1172.49 100.28Z" stroke="#343a40" stroke-width="2" mask="url(#path-1-outside-1)" />
        </svg>

    </div>
    <div class="col-md-12 text-center">
        <div class="jumbotron">
            <p class="lead">Let's learn GCP by participating in the intellectual challenge of the year, with Google</p>
            <hr class="my-4">
            <p>This is an algorithmic battle, easy to get-started within minutes with boilerplate code, you just need to make the algo smart.</p>
            <h3>Grand final : TBD</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-lg" style="width:120px" href="/Rules" role="button">Rules</a>
                        <a class="btn btn-success btn-lg" style="width:120px" href="/Register" role="button">Register</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
    const logo = document.querySelectorAll("#logo path");
    for (let i = 0; i < logo.length; i++) {
        console.log(`Letter ${i} is ${logo[i].getTotalLength()}`);
    }
</script>
